<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>单词卡片</title>

  <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>

  <script src="vue.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="english.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div>
        <h1>单词本·每日</h1>
      </div>
      <div class="container">
        <div class="row">
           <div v-for="item1 in enWordList">
          <div class="col-xs-6 col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">2017/9/{{ item1.date }}</h3>
                </div>

                <ul class="list-group">
                  <li class="list-group-item" v-for="item in item1.words">{{ item }}</li>
                </ul>

                <!-- 
                <div class="panel-body" v-for="item in item1.words">
                  {{ item }}
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      enWordList: enWordList
    }
  })

</script>

</html>